body{
    font-family: Lato, sans-serif;
}

.content{
    margin: 5% auto;
    width: 700px;
    line-height: 2;
}

h1{
    margin-bottom: 0;
    font-size: 50px;
}
h3{
    font-size: 16px;
    margin-top: 0;
    color: gray;
    font-weight: 500;
}